<div>
	
	<%= @users.each do |user| %>
		<div class="friends">
			<% user.username %> 
			<%= form_tag follows_path(user_id: user.id), method: :post, remote: true do %>
		      <%= button_tag 'follow', class: 'btn btn-success' %>
		  <% end %>
		</div>
	<% end %>
</div>
